.card-img {
  height: 25vh;
}

.text-blue {
  color: skyblue !important;
}

h1 {
  text-shadow: 5px 3px rgb(43, 40, 40);
}

.eu-dropdown-menu {
  max-height: 85vh;
  overflow-y: scroll;
}

.btn:hover {
  background-color: skyblue;
  color: black;
}